.container-fluid, .navbar{
    height: auto;
    width:100%;
}
#navbarposition{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-header, .collapse navbar-collapse{
    display: inline-block;
}

.navbar-brand{
    font-family: cookie, cursive;
    font-size: 3rem;
}

.carousel-inner{
    padding-top: 1px;
    max-height: 500px;
    max-width: auto;
}

.carousel-item{
    max-height: 500px;
    max-width: auto;
}

.caption-header{
    font-family: cookie, cursive;
    font-size: 40px;
    background: black;
    opacity: 0.6;
    border-style: hidden;
    border-radius: 30px;
    padding: 15px;
}

.orderNowButton{
    font-family: cookie, cursive;
    padding-top: 10px;

}

.btn-outline-dark{
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    opacity: 0.8;
}

#callnowtoorder{
    padding-top: 20px;
    font-family: cookie, cursive;
}

#calltoordertext{
    padding-top: 5px;
}

.oldschool{
    background-color: #262626;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    font-family: cookie, cursive;
}

